.config/Code/Cache/
.config/Code/CachedData/
.config/Code/CachedProfilesData/
.config/Code/Code Cache/
.config/Code/Cookies
.config/Code/Cookies-journal
.config/Code/Crashpad/
.config/Code/DawnGraphiteCache/
.config/Code/DawnWebGPUCache/
.config/Code/Dictionaries/
.config/Code/GPUCache/
.config/Code/Local Storage/
.config/Code/Network Persistent State
.config/Code/Preferences
.config/Code/Service Worker/
.config/Code/Session Storage/
.config/Code/Shared Dictionary/
.config/Code/TransportSecurity
.config/Code/Trust Tokens
.config/Code/Trust Tokens-journal
.config/Code/User/globalStorage/
.config/Code/User/workspaceStorage/
.config/Code/WebStorage/
.config/Code/languagepacks.json
.config/Code/logs/
.config/Code/CachedExtensionVSIXs/
.config/Code/machineid
.vscode/argv.json
