Cache/
CachedData/
CachedProfilesData/
Code Cache/
Cookies
Cookies-journal
Crashpad/
DawnGraphiteCache/
DawnWebGPUCache/
Dictionaries/
GPUCache/
Local Storage/
Network Persistent State
Preferences
Service Worker/
Session Storage/
Shared Dictionary/
TransportSecurity
Trust Tokens
Trust Tokens-journal
User/globalStorage/
User/workspaceStorage/
WebStorage/
languagepacks.json
logs/
machineid
